.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: #000000;
  z-index: 1;
}

ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  position: relative;
  right: 15px;
  bottom: 10px;
  li {
    margin-right: 50px;
    font-size: 20px;
    color: rgb(148, 29, 253);
  }
}
.portfolio {
  position: relative;
}
.counter {
  position: absolute;
  top: 14px;
  right: -7px;
  text-align: center;
  border-radius: 0.2rem;
  width: 10px;
  height: 10px;
  font-size: 10px;
  color: #fff;
  background-color: #26aac2;
  &.hide {
    display: none
  }
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  margin-top: 4px;
}
