.container {
	display: flex;
	align-items: center;
	border-top: 1px solid black;
	> h4 {
		margin-left: 5px;
		margin-right: 10px;
	}
	> span {
		margin-right: 5px;
	}
	> img {
		margin-left: 20px;
	}
}