html {
  box-sizing: border-box;
  font-size: $font-size;
  font-family: $font-family;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  margin-top: 80px;
  width: 900px;
}

img {
  width: 40px;
  height: 40px;
}

body {
  background-color: #ffffff;
  background-image: url('../../public/subtle-prism.png');
  background-attachment: fixed;
  background-size: cover;
}
