.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  color: #fff;
  background-color: #000000;
  padding: 0 20px;
}
.icon {
  color: #d6ab46;
}

.counter {
  border-radius: 4px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1px;
  padding-top: 1px;
  font-size: 14px;
  background-color: #28b8db;
  position: absolute;
  bottom: 10px;
  left: 55px;
}
