.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  background-color: #000000;
  color: #33d9d1;
  border-bottom: 3px solid white;
  padding: 0 20px;
  > span {
    font-size: 15px;
  }
}
.icon {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  color: #d6ab46;
}
